@model RegistroDoassunto
@{
    ViewData["Title"] = "Anuncio Inserido!";
}
<h1>Anúncio inserido com sucesso!</h1>
<br></br>
<h5><b>Nome: @ViewBag.Nome </b></h5>
<p>Telefone: @ViewBag.Telefone </p>
<p>E-mail: @ViewBag.email </p>
<p>Assunto: @ViewBag.Assunto</p>
<p></p>